In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("token_usage.csv")

In [3]:
df["task_id"] = df["task_id"].replace("20250215-120903", "survery Large Language Model papers")

In [4]:
df

,prompt_tokens,completion_tokens,cached_tokens,task_id,model
0,9891,527,0,20250215-120638,gpt-4o-mini
1,1816,258,0,20250215-120638,gpt-4o-2024-11-20
2,3548,106,0,20250215-120638,gpt-4o-2024-11-20
3,9559,466,0,20250215-120638,gpt-4o-mini
4,9891,558,0,survery Large Language Model papers,gpt-4o-mini
...,...,...,...,...,...
249,16485,847,0,1_bakery_birthday_cake,gpt-4o-mini
250,5886,56,0,1_bakery_birthday_cake,gpt-4o-2024-11-20
251,3681,10,0,1_bakery_birthday_cake,gpt-4o-2024-11-20
252,2087,170,0,1_bakery_birthday_cake,gpt-4o-2024-11-20
253,4657,150,0,1_bakery_birthday_cake,gpt-4o-2024-11-20

In [5]:
s = df.groupby(by=["task_id","model"]).sum()

In [6]:
type(s)

pandas.core.frame.DataFrame

In [7]:
s= s.reset_index(drop=False)

In [8]:
s

,task_id,model,prompt_tokens,completion_tokens,cached_tokens
0,1_bakery_birthday_cake,gpt-4o-2024-11-20,21700,686,0
1,1_bakery_birthday_cake,gpt-4o-mini,26847,1439,0
2,1_late_night_korean_food,gpt-4o-2024-11-20,351869,13742,0
3,1_late_night_korean_food,gpt-4o-mini,381906,18734,0
4,1_nearest_bakery,gpt-4o-2024-11-20,22589,625,0
5,1_nearest_bakery,gpt-4o-mini,41919,2188,0
6,1_thai_duck,gpt-4o-2024-11-20,255280,10780,0
7,1_thai_duck,gpt-4o-mini,241430,11616,0
8,20250215-120638,gpt-4o-2024-11-20,5364,364,0
9,20250215-120638,gpt-4o-mini,19450,993,0
10,survery Large Language Model papers,gpt-4o-2024-11-20,121959,6170,0
11,survery Large Language Model papers,gpt-4o-mini,83124,4032,0

In [9]:
def cost_function(row):
    if (row["model"] == "gpt-4o-mini"):
        return row["prompt_tokens"]* 0.6/1000000.0 + 2.4 /1000000.0 * row["completion_tokens"]
    else:
        return row["prompt_tokens"]* 5.0/1000000.0 + 20.0 /1000000.0 * row["completion_tokens"]

In [10]:
s["cost"] = s.apply(cost_function, axis= 1)

In [11]:
s

,task_id,model,prompt_tokens,completion_tokens,cached_tokens,cost
0,1_bakery_birthday_cake,gpt-4o-2024-11-20,21700,686,0,0.122220
1,1_bakery_birthday_cake,gpt-4o-mini,26847,1439,0,0.019562
2,1_late_night_korean_food,gpt-4o-2024-11-20,351869,13742,0,2.034185
3,1_late_night_korean_food,gpt-4o-mini,381906,18734,0,0.274105
4,1_nearest_bakery,gpt-4o-2024-11-20,22589,625,0,0.125445
5,1_nearest_bakery,gpt-4o-mini,41919,2188,0,0.030403
6,1_thai_duck,gpt-4o-2024-11-20,255280,10780,0,1.492000
7,1_thai_duck,gpt-4o-mini,241430,11616,0,0.172736
8,20250215-120638,gpt-4o-2024-11-20,5364,364,0,0.034100
9,20250215-120638,gpt-4o-mini,19450,993,0,0.014053
10,survery Large Language Model papers,gpt-4o-2024-11-20,121959,6170,0,0.733195
11,survery Large Language Model papers,gpt-4o-mini,83124,4032,0,0.059551